.main {
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

ul {
    list-style-type: none;
}

.pics {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.form {
    text-align: center;
}

.about {
    background-color: #A4B494;
    background-size: cover;
    height: 100vh;
}

.resume {
    background-color: #BEC5AD ;
    background-size: cover;
    height: 100vh;
}

.portfolio {
    background-color: #4D6A5F;
    background-size: cover;
    height: 100vh;
}

.contact {
    background-color: #519872 ;
    background-size: cover;
    height: 100vh;
}

