@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

* {
    font-family: 'Signika', sans-serif;
}

html {
    height: 100%;

}

body {
    margin: 0;
    padding: 0;

    background: hsla(340, 80%, 69%, 1);

    background: linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ef709b", endColorstr="#fa9372", GradientType=1);

}


.background {
    background: hsla(340, 80%, 69%, 1);

    background: linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ef709b", endColorstr="#fa9372", GradientType=1);

}


.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    align-items: center;
}

/* Greeting page */
.greeting {
    width: fit-content;
    height: fit-content;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    opacity: 0;
    transform: translateY(100vh);
    animation: fade-in-bottom 3s ease-in-out forwards;
}

@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(75px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Move the element to its original position */
    }
}


.greeting:hover {
    transform: scale(1.05);
}


.greeting-one {
    display: flex;
    justify-content: center;
}


.name {
    display: flex;
    font-size: 38px;
    font-weight: 900;
    margin-right: auto;
    opacity: 0;
    animation: fade-in 3s ease-in-out forwards;
    cursor: pointer;
    color: rgb(82, 72, 75);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-35px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.circle-image {
    border-radius: 20%;
    margin-left: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fade-in 3s ease-in-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-35px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Navbar */
.nav-tabs {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    width: 100%;
}


 ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;

}

.nav-tabs li {
    padding: 8px;
}

.nav-tabs a {
    text-decoration: none;
    font-size: 30px;
    padding: 8px;

}


/* About Me Page  */

.about {
    margin-top: 100px;
}

.about h1 {
    display: flex;
    justify-content: center;
}

.about p {
    text-align: center;
    max-width: 800px;
    /* Sets a maximum width to prevent text from extending too far */
    margin: 50px auto;
    /* Centers the element horizontally */
    padding: 0 20px;
}


/* Portfolio Page */

.portfolio h1 {
    display: flex;
    justify-content: center;

}

.pics {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}

.portfolio-img {
    width: 590px;
    border-radius: 35px;
}

/* Resume Page */
.skills-container {
    display: flex;
    justify-content: center;
}

.resume h1 {
    text-align: center;
}

/* Contact Page */
.form {
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-input,
.form-textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-submit {
    background-color: #4c4c4c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #333;
}



/* Footer  */
footer {
    background-color: rgb(232, 161, 182);
    color: #fff;
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 1900px;
    /* margin: 0 auto; */
}

.footer-container p {
    margin-bottom: 10px;
    text-align: center;
}

/* .footer-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-container ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-container ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-container ul li a:hover {
    text-decoration: underline;
} */


.about,
.resume,
.portfolio,
.contact {}

.nav-link {
    color: rgb(82, 72, 75);
}