.main {
    display: flex;
    width: 90%;
    justify-content: right;
    gap: 20px;
}

.pics {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.form {
    text-align: center;
}

.about {
    background-color: #A4B494;
    background-size: cover;
    height: 100vh;
}

.resume {
    background-color: #BEC5AD ;
    background-size: cover;
    height: 100vh;
}

.portfolio {
    background-color: white ;
    background-size: cover;
    height: 100vh;
}

.contact {
    background-color: #519872 ;
    background-size: cover;
    height: 100vh;
}